<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>
<header class="p-3 text-bg-dark" th:fragment="header">

    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start d-print-none">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img src="/io.png" style="width: 25px"/>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li>
                <a href="/" class="nav-link px-2 text-white">Консултации</a>
            </li>
            <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PROFESSOR')">
                <a th:href="@{/consultations/{username}(username=${#authentication.name})}" class="nav-link px-2 text-white">Мои консултации</a>
            </li>
            <li sec:authorize="hasRole('ROLE_GUEST')">
                <a th:href="@{/reservations/{username}(username=${#authentication.name})}" class="nav-link px-2 text-white">Мои резервации</a>
            </li>
        </ul>


        <div class="text-end" sec:authorize="isAuthenticated()">
            <span sec:authentication="name"></span>
            <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
        </div>
    </div>

</header>
</body>
</html>
